.white-line-bottom{
    border-bottom: 1px solid #ffffff;
}

.menu-vip{
    line-height: 1.5rem;
    border-bottom: 1px solid #DDDDE5;
    padding: 25px 0 10px 0;
}

.mv-list{
    margin: 0px 5px 10px 5px;
    display: block;
    min-width: 120px;
}

.mv-list a{
    display: block;
    background: #FFFFFF;
    border: 1px solid #DDDDE5;
    border-radius: 10px;
    padding: 15px 20px;
}

.mv-list a .mv-label{
    font-size: 11pt;
    color: #29504D;
    white-space: nowrap;
}

.mv-list a .mv-label .number{
    background: #27A8E0;
    border-radius: 5px;
    padding: 4px 3px 0px 3px;
    margin-right: 5px;
    color: #FFFFFF;
    font-size: 9pt;
    font-weight: normal;
    white-space: nowrap;
}

.mv-list a .mv-icon{
    font-size: 15pt;
    margin-bottom: 7px;
    background: #E9E9EE;
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
}

.mv-list a:hover{
    background: #DEE2E5;
    border: 1px solid#DEDFE6;
}

.mv-list a:hover .mv-icon{
    background: #CCD3D6;
}


.mv-list.selected a{
    background: #DEE2E5;
    border: 1px solid #FFFFFF;
}

.mv-list.selected a .mv-icon{
    background: #CCD3D6;
}

/* main.css */
.NotRead .box {
    background: #ffffff !important;
}

/* new.css */
.correspondence-icon {
    padding-bottom: 0px !important;
}

.three .f-line {
    width: auto;
    border-bottom: solid 1px #EFEFEF;
    background: #F3F3F6 !important;
    margin-bottom: 4px !important;
    margin-right: -11px !important;
    margin-left: -11px !important;
    padding-right: 11px !important;
    padding-left: 11px !important;
}



/* Table */

table > thead > tr {
    color: #F9F9F9 !important;
    background-color: #00A05A !important;
}

td.td-border-left {
    border-left: 1px solid #ddd;
}

td.td-border-right {
    border-right: 1px solid #ddd;
}

.min{
    min-width: 40px;
    height: 20px;
    text-align: center;
    padding-top: 10px;
}

.alert_days_number{
    background: #BE1E2D;
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #FFFFFF;
    text-align: right;
    padding: 7px 15px;
    z-index: 9;
    border-radius: 0px 6px 0px 6px;
    line-height: 1.75rem;
}

    .alert_days_number .a_number{
        font-size: 17pt;
    }

    .alert_days_number .a_days{
        font-size: 12pt;
    }


    .refuse_reason{
        color: #686B89;
    }

/* Wizard Style */


.progressbar {
    margin-bottom: 25px;
    padding: 0;
    overflow: hidden;
    counter-reset: step;
    position: relative;
    width: 100%;
}


.progressbar li {
    list-style-type: none;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    /* width: 33.3333%; */
    float: left;
    position: relative;
    color: #A1A4B4;
}

.progressbar li.active:before, .progressbar li.active:after {
    background:  #DF0B1B;
    background-size: 200% auto;
    -webkit-animation: effect 1s linear infinite;
    animation: effect 1s linear infinite;
    color: #fff;
}

.progressbar li:before {
    position: relative;
    z-index: 2;
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: #111111;
    background-color: #A1A4B4;
    border-radius: 100px;
    margin: 0 auto 10px auto;
}

.progressbar li:after {
    content: '';
    width: 100%;
    height: 6px;
    background-color:  #A1A4B4;
    position: absolute;
    right: -50%;
    top: 17px;
    z-index: 1;
}

.odd .progressbar li.active:before, .progressbar li.active:after {
    color:  #DF0B1B;
}

form[data-steps="3"] .progressbar li {
    width: 33.3333%;
}