.white-line-bottom{
    border-bottom: 1px solid #ffffff;
}

.menu-vip{
    line-height: 1.5rem;
    border-bottom: 1px solid #DDDDE5;
    padding: 25px 0 10px 0;
}

.mv-list{
    margin: 0px 5px 10px 5px;
    display: block;
    min-width: 120px;
}

.mv-list a{
    display: block;
    background: #FFFFFF;
    border: 1px solid #DDDDE5;
    border-radius: 10px;
    padding: 15px 20px;
}

.mv-list a .mv-label{
    font-size: 11pt;
    color: #29504D;
    white-space: nowrap;
}

.mv-list a .mv-label .number{
    background: #27A8E0;
    border-radius: 5px;
    padding: 4px 3px 0px 3px;
    margin-right: 5px;
    color: #FFFFFF;
    font-size: 9pt;
    font-weight: normal;
    white-space: nowrap;
}

.mv-list a .mv-icon{
    font-size: 15pt;
    margin-bottom: 7px;
    background: #E9E9EE;
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
}

.mv-list a:hover{
    background: #DEE2E5;
    border: 1px solid#DEDFE6;
}

.mv-list a:hover .mv-icon{
    background: #CCD3D6;
}


.mv-list.selected a{
    background: #DEE2E5;
    border: 1px solid #FFFFFF;
}

.mv-list.selected a .mv-icon{
    background: #CCD3D6;
}

/* main.css */
.NotRead .box {
    background: #ffffff !important;
}

/* new.css */
.correspondence-icon {
    padding-bottom: 0px !important;
}

.three .f-line {
    width: auto;
    border-bottom: solid 1px #EFEFEF;
    background: #F3F3F6 !important;
    margin-bottom: 4px !important;
    margin-right: -11px !important;
    margin-left: -11px !important;
    padding-right: 11px !important;
    padding-left: 11px !important;
}



/* Table */

td.td-border-left {
    border-left: 1px solid #ddd;
}

td.td-border-right {
    border-right: 1px solid #ddd;
}

.min{
    min-width: 40px;
    height: 20px;
    text-align: center;
    padding-top: 10px;
}

.alert_days_number{
    background: #BE1E2D;
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #FFFFFF;
    text-align: right;
    padding: 7px 15px;
    z-index: 9;
    border-radius: 0px 6px 0px 6px;
    line-height: 1.75rem;
}

    .alert_days_number .a_number{
        font-size: 17pt;
    }

    .alert_days_number .a_days{
        font-size: 12pt;
    }


    .refuse_reason{
        color: #686B89;
    }

/* Wizard Progressbar Style */


.progressbar {
    margin-bottom: 0px;
    padding: 0;
    overflow: hidden;
    counter-reset: step;
    position: relative;
    width: 100%;
}

.progressbar:before{
    content: '';
    width: 100%;
    height: 1.5px;
    background-color:#262B56;
    position: absolute;
    right: 0;
    bottom: 7px;
    z-index: 0;
}

/* Arrow */
.progressbar li.active:after {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-right: -7px;

    z-index: 2;
    content: ' ';
    display: block;
    background-color:transparent;

    -webkit-animation: effect 1s linear infinite;
    animation: effect 1s linear infinite;

    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #262B56;
}

.progressbar li.active:before {
    position: absolute;
    bottom: 1.5px;
    right: 50%;
    margin-right: -7px;

    z-index: 3;
    content: ' ';
    display: block;
    background-color:transparent;

    -webkit-animation: effect 1s linear infinite;
    animation: effect 1s linear infinite;

    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #ededf3;
}

/* END Arrow*/


.progressbar li {
    list-style-type: none;
    font-weight: 500;
    text-align: center;
    float: left;
    position: relative;
    color: #DEDFE6;
    padding-bottom: 10px;
}

.progressbar li a {
    color:  #646786;
    font-size: 14pt;
}

.progressbar li a:hover{
    color:  #262B56;
}

.progressbar li.active a {
    color:  #262B56;
}


/* 1 */
.progressbar li.active .li-before, .progressbar li.active .li-after {
    background:  #262B56;
    background-size: 200% auto;
    -webkit-animation: effect 1s linear infinite;
    animation: effect 1s linear infinite;
    color: #fff;
}

.progressbar li:first-child .li-before {
    display: none;
}


.progressbar li.done .li-before, .progressbar li.done .li-after {
    background:  #262B56;
    background-size: 200% auto;
    -webkit-animation: effect 1s linear infinite;
    animation: effect 1s linear infinite;
    color: #fff;
}


.progressbar li.done .li-after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: 'Line Awesome Free';
    font-weight: 900;
}

    .progressbar li.done .li-after:after{
        content: "\f00c" !important;
    }

.progressbar li .li-after {
    position: relative;
    z-index: 2;
    content: ' ';
    width: 20px;
    height: 20px;
    line-height: 21px;
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: #111111;
    background-color: #DEDFE6;
    border-radius: 100px;
    margin: 0 auto 10px auto;
}

.progressbar li .li-before {
    content: '';
    width: 100%;
    height: 3px;
    background-color:  #DEDFE6;
    position: absolute;
    right: -52%;
    bottom: 29px;
    z-index: 1;
}

.odd .progressbar li.active .li-before, .progressbar li.active .li-after {
    color:  #ffffff;
}

/* END 1*/


.white-container.with_shadow{
    box-shadow: 0 0px 10px 0 rgba(38, 43, 86, .28) !important;
    border: none;
}

.card.with_shadow{
    box-shadow: 0 0px 10px 0 rgba(38, 43, 86, .28) !important;
    border: none !important;
}


/* collapse-input */
.collapse-input .collapse-heading h4 a {
    color: #444;
    text-decoration: none;
    font-size: 14pt;
    font-weight: normal;
  }
  
  .collapse-input .collapse-heading h4 a::before{
    font-family: 'Line Awesome Free';
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    
    content: "\f068" ;

    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
    color: #444;
  }
  
  .collapse-input .collapse-heading h4 a.collapsed::before{
    content: "\f067" !important;
  }
  

  svg text tspan, .apexcharts-xaxistooltip .apexcharts-xaxistooltip-text, .apexcharts-tooltip .apexcharts-tooltip-title, .apexcharts-tooltip .apexcharts-tooltip-text, .apexcharts-legend-series .apexcharts-legend-text {
    font-family: 'FSAlbertArabic' !important;
  }

  

