.droppable-body .ui-widget-content {
    border: none !important;
    background: none !important;
	display:block !important;
	float:right !important;
}

.droppable-body .draggable, .draggable2 {
    z-index: 99;
}





